<%= pageTitle 'Smile Sciences | Upload Voucher Numbers' %>

<div class="container">
  <h1>Voucher Numbers</h1>
  <div class="well">
    <% if notice %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <div class="row-fluid">
      <table class="table">
        <tr>
          <th>Voucher Number</th>
          <th>Actions</th>
        </tr>
        <% @vouchers.each do |voucher| %>
          <tr>
            <td><%= voucher.voucher_number %></td>
            <td>
              <%= link_to 'Edit', edit_voucher_path(voucher), :class => 'btn btn-info' %>
              <%= link_to 'Destroy', voucher, :class => 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="form-actions" style="margin-bottom: 0; padding-bottom: 0;">
        <%= link_to 'New Voucher', new_voucher_path, :class => 'btn' %>
        <%= link_to 'Bulk Uploader', '', :class => 'btn' %>
      </div>
    </div>
  </div>
</div>
